<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="member">
            <h2><span>Member</span> {{member.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Created</span></dt>
                <dd>
                    <span>{{member.created}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{member.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{member.description}}</span>
                </dd>
                <dt><span>Birthday</span></dt>
                <dd>
                    <span>{{member.birthday}}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{member.phone}}</span>
                </dd>
                <dt><span>Current Amount</span></dt>
                <dd>
                    <span>{{member.currentAmount}}</span>
                </dd>
                <dt><span>Total Amount</span></dt>
                <dd>
                    <span>{{member.totalAmount}}</span>
                </dd>
                <dt><span>Info</span></dt>
                <dd>
                    <span>{{member.info}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/member', member.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
